body {
    font-family: optima;
    background-color: rgb(20, 20, 20);
    color: whitesmoke;
    margin: 0;
}
/* app wrapper...child of the root element */
#wrapper{
    display: flex;
    flex-direction: column;
}   

/* nav styling */
.nav-link {
    text-decoration: none;
    color: white;
}

.menu-link{
    text-decoration: none;
    color: black;
}

.menu-list-item:hover{
    box-shadow: inset 3px 3px 1px red, -1em 0 0.4em olive;
}

/* home page content */
.about {
    width: auto;
    margin: 0 15%;
}
.about, p{
    font-size: larger;
}
/* --------------------- */


/* component wrapper */
.el-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


/* slide styles */
.text{ margin-bottom: 0;}
.audio-samples{
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 0;
}
.sample{
    margin-top: 0;
}
/* .container {
    width: 100%;
} */
.slide-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.slide-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 0;
}

.tone-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    margin-bottom: 2rem;
}

.chord-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-bottom: 2rem;
}
.slide-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid white; */
}
.tone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}

.note-name {
    font-size: 5rem;
}
.note-number {
    font-size: 3rem;
}
.note-val{
    font-size: 2rem;
}

.images {
    display: flex;
    gap: 1.5rem;
}

.next-lesson{
    border: none;
    height: 3rem;
    width: auto;
    font-size: 2rem;
    background-color: green;
    border: 2px solid rgb(0, 32, 0);
    padding: 0 1rem;
    cursor: pointer;
}

.test{
    height: 100%;
    /* display: flex; */
}

/* QUIZ STYLING */
.quiz{
    margin-left: 10%;
    margin-top: 5%;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px black solid;
    border-radius: 5px;
    background-color: rgb(79, 173, 79);
}
.quiz-audio{
    border: 5px black solid;
    border-radius: 50%;
    padding: 2%;
}
.quiz-button{
    height: 3rem;
    width: auto;
    font-size: large;
    margin: 0 1rem;
    cursor: pointer;
}
/* .slide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid rgba(255, 0, 0, 0.6);
    border-radius: 40px;
    margin: 5em 30em;
    background-color: orange;
} */



/*  react multi carousel test  */
.react-multi-carousel-list{
    height: 700px;
    background-color: rgb(255, 183, 0);
    color: black;
    width: 1000px;
    /* margin-left: 415px; */
    margin-bottom: 50px;
 }
.react-multi-carousel-track{ 
    height: 500;
    background-color:rgb(255, 244, 215);
    text-align: center;
    text-emphasis: bold;
 }
 .slide-header{
    margin-top: 1rem;
 }
 .slide-list{
    font-size: 25px;
    margin: 0 10%;
 }
 .slide-list-item{
    margin: .5rem 0;
 }
.slide-content{
    text-align: center;
    height: 100%;
    justify-content: space-evenly;
 }
.slide-title{
    font-size: 2rem;
    margin-bottom: 0;
}
 .slide-text {
    font-size: 1.5rem;
    text-align: left;
    
    line-height: 150%;
 }

/*  */
.css-ohwg9z {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.css-1s666lj{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

/* slide nav dots */
.css-1m9128y {
    margin-top: 1em;
    padding-top: 3em;
}

/* slide content */

/* .css-1f8sh1y{
    background-color: rgb(251, 245, 233);
    border-radius: 30px;
} */

.css-yfz3wk {
    border-radius: 20px;
}
/* Piano Keyboard */
.piano {
    padding: 50px 10px 0 10px;
    background-color: #121418;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: flex-start;
    width: 700px
}

.key {
    width: 60px;
    cursor: pointer;
    transition: all .3s;
}

.white {
    height: 220px;
    background-color: white;
    border: 5px solid #363C4A;
    border-bottom: 5px solid #DFD3D3;
    z-index: 1;
}

.white:active {
    border-bottom: none;
    background-color: #DFD3D3;
}

.black {
    width: 30px;
    height: 130px;
    background-color: #363C4A;
    z-index: 2;
    margin-left: -15px;
    margin-right: -15px;
    border-bottom: 5px solid #5D5E67;
}

.black:active {
    border-bottom: none;
}